@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  --text-dark: #000;
  --text-white: #fff;
  --text-green: #1bbe1b;
  --bg-azul-oscuro: #1e293b;
  --bg-azul-claro: #374151;
  --bg-tags: #4b5563;
  --boton-tag: #2563eb;
  --bg-sucess: #198754;
}

body {
  background-color: var(--text-dark);
}
h1 {
  font-size: 4rem;
}
h2 {
  color: var(--bg-sucess);
  font-size: 3rem;
}
h1,
h2 {
  text-align: center;
  margin: 10px 0 30px;
}

a {
  text-decoration: none;
  &:hover {
    color: var(--text-green);
  }
}
iframe {
  border: none;
  width: 100%;
  border-radius: 4px;
}

footer {
  background-color: var(--bg-azul-oscuro);
  height: 3rem;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}
.navbar {
  background-color: transparent;
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
  margin: 0;
}

.nav-link,
.nav-item,
.navbar-brand {
  color: var(--text-white);
  &:hover {
    color: var(--text-green);
  }
}

.dropdown-item {
  font-weight: bold;
  background-color: var(--text-green);
  &:hover {
    background-color: var(--bg-sucess);
  }
}
.carousel {
  margin-bottom: 4rem;
}
/* Contenedor Build */
.container {
  max-width: 1200px;
  margin: 2rem auto;
  background-color: var(--bg-azul-oscuro);
  color: var(--text-white);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.build-selector {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.build-button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: var(--bg-azul-claro);
  border: none;
  color: var(--text-white);
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.build-button.active {
  background-color: var(--boton-tag);
}

.build {
  display: none;
}

.build.active {
  display: block;
}

.tabs {
  display: flex;
  border-bottom: 1px solid var(--bg-tags);
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--bg-azul-claro);
  border: none;
  color: var(--text-white);
  font-size: 16px;
  border-radius: 6px 6px 0 0;
  margin-right: 5px;
  transition: background-color 0.3s;
}

.tab.active {
  background-color: var(--boton-tag);
}

.tab:hover:not(.active) {
  background-color: var(--bg-tags);
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* Contenedor Guias */
.accordion-body iframe {
  width: 40vw;
  height: 50vh;
}
.accordion-button {
  background-color: var(--text-green);
  color: var(--text-white);
  &:hover {
    background-color: var(--bg-sucess) 5%;
  }
}
.accordion-item {
  background-color: var(--bg-sucess);
}

.accordion-button:not([collapsed]) {
  color: var(--text-white);
  background-color: var(--bg-sucess);
}
